<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :quizz_id, :type=>'hidden', :value=>@quizz_id %>

  <div class="col-md-12">
       <div class="row"> 
        <div class="col-md-12"> 
          <h3><%= form.label :question %></h3>
          <%= form.text_field :description, :class=>'form-control col-md-12' %>
        </div>
      </div>
    <br>
    <h3>Choices</h3>
          <% choice_index = 0 %>
          <% choice_value = "" %>
          <% @quizz.tags.each do |tag| %>
            <div class="row"> 
              <div class="col-md-12"> 
                <p><span class="badge badge-primary"><%= tag.description %></span><p>
            <div>
          <div class="row">
            <div class="col-md-12">
                  <% if !@question.choices[choice_index].nil? %>
                  <% choice_value = @question.choices[choice_index].description %>
                  <% choice_index = choice_index + 1 %>
                <% end %>             
              <input class="form-control" type="text" name="question[choices[<%= tag.id %>]]" value="<%= choice_value %>"> 
            </div>
          </div>
            <br>
          <% end %>      
          <br>
          <div class="row">
            <div class="actions col-md-6 text-right">
              <%= form.submit %>
            </div>
          </div>
<% end %>