<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :quizz_id, :type=>'hidden', :class=>'form-control col-md-5', :value=> @quizz %>

  <div class="field">
    <h3><%= form.label :question %></h3>
    <%= form.text_field :description, :class=>'form-control col-md-5' %>
  </div>

  <h3<%= :choices %></h3>
  <div id="choices">
      <%= form.fields_for :choices do |choices_fields| %>
        <%= render partial: "choice_fields", locals: {f: choices_fields} %>
      <% end %>
      <%= link_to_add_association('Incluir alternativa',form, :choices) %>
  </div>

  <div class="actions">
    <%= form.submit 'Salvar' %>
  </div>
<% end %>