<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :quizz_id, :type=>'hidden', :value=>@quizz_id %>

  <div class="col-md-12">
       <div id="tags" class="row"> 
        <div class="col-md-6"> 
          <h3><%= form.label :question %></h3>
          <%= form.text_field :description, :class=>'form-control col-md-12' %>
        </div>
      </div>

    <h3>Choices</h3>
          <% @quizz.tags.each do |tag| %>
          <div id="tags" class="row"> 
            <div class="col-md-1">
              <span class="badge badge-primary"><%= tag.description %></span>
            </div>
            <div class="col-md-5">
              <input class="form-control" type="text" name="question[tags[<%= tag.id %>]]"> 
            </div>
          </div>
          <% end %>      
    </div>
    <br>
    <div class="actions">
      <%= form.submit 'Salvar' %>
    </div>
  </div>
<% end %>