<div class="container">
	<p id="notice"><%= notice %></p>
	
	<div class="col-md-6">
	<h1><span class="text-muted">Quizz: </span><%= @question.description %></h1>
	
	<br>
	
	<h2>Resultados</h2>
	
	<br>

	<% @total = @question.answers.count %>
	<div class="row">
		<div class="col-md-7	">
			<h3>Total de respostas:</h3>
		</div>
		<div class="card col-md-2 text-center">	
			<%= @total %>
		</div>
	</div>
	<% @map = Hash.new %>
	<% @question.answers.each do |answer| %>
	<p>
		<% @map[answer.choice.id] = answer.choice.answers.count %>
	</p>
	<% end %>

	<br>
	
		<div class="card">
			<div class="card-header text-center"><h5>Respostas por alternativa</h5></div>
			<div class="row card-body">
				<% @question.choices.each do |choice| %>
					<div class="col-md-6"><%= choice.description %></div>
					<div class="col-md-6"> <%= @map[choice.id] ? "#{(100.00 * @map[choice.id]/@total).round(1)} %" : "00.0 %" %> </div>
				<% end %>
			</div>
		</div>
	</div>
	<br>
	<p class="col-md-6 text-right">
		<%= link_to 'Voltar', @question.quizz %>
	</p>
</div>
