<%= form_with(model: type, local: true) do |form| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <%= form.label :description %>
        <%= form.text_field :description, :class=>'form-control col-md-12'%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Emoji
        <%= form.text_field :image, :class=>'form-control col-md-12'%>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="actions col-md-6 text-right">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
