<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :quizz_id, :type=>'hidden', :value=>@quizz_id %>

  <div class="field">
      <h2><%= @quizz.description %></h2>
  </div>

  <% @quizz.questions.each do |question|%>      
          <h3><%= question.description =%></h3>

             <fieldset id="answer[questions[<%= question.id %>]">
                <% question.choices.each do |choice| %>
                  <p> 
                    <input type="radio" name="answer[question[<%= question.id %>]]" value="<%= choice.id %>">
                    <%= choice.description %> 
                  </p>
                <% end %>
            </fieldset> 
    <% end %>
  
  <div class="actions">
    <%= form.submit 'Enviar'%>
  </div>

  <br>
<% end %>
