<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Respostas</h1>

  <table class="table table-sm table-borderless">
    <thead>
      <tr>
        <th></th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td><%= answer.quizz.description %></td>
          <td><%= answer.question.description %></td>
          <td><%= answer.choice.description %></td>
          <td><%= link_to 'Visualizar', answer %></td>
          <td><%= link_to 'Editar', edit_answer_path(answer) %></td>
          <td><%= link_to 'Responder', new_answer_path({:question_id => question}) %> </td>
          <td><%= link_to 'Excluir', answer, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>