<div class="container">
	<p id="notice"><%= notice %></p>

	<h3>Suas Respostas </h3>


	<% @answers.each do |answer| %>
		
			<% answer.questions.each do |question| %>
			<p>
				<strong><%= question.description %>: 
					<%= question.answers[0].choice.description %></strong>
			</p>
			<% end %>
		
	<% end %>

<!-- 	<p>
	  <strong>Pergunta:</strong>
	  <%= @answer.question.description %>
	</p>

	<p>
	  <strong>Alternativa escolhida:</strong>
	  <%= @answer.choice.description %>
	</p> -->


	<%= link_to 'Voltar', questions_path %>
</div>
