<p id="notice"><%= notice %></p>

<h1>Quizzes</h1>
<p class="text-right"><%= link_to 'New Quizz', new_quizz_path %></p>  

<table class="table table-borderless">
  <thead>
    <tr>
      <th>Description</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzs.each do |quizz| %>
      <tr>
        <td scope="col"><%= quizz.description %></td>
        <td scope="col"><%= quizz.type.description %></td>
        <td scope="col">
          <%= link_to 'Show', quizz %> |
          <%= link_to 'Edit', edit_quizz_path(quizz) %> |
        <%= link_to 'Destroy', quizz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
