<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @quizz.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @quizz.type.description %>
</p>

<p>
	<% if @quizz.questions.size > 0 %>
		<strong>Questions</strong>
	<% end %>
	<% @contador = 0 %>
	<% @quizz.questions.each do |question| %>
		<p><%= @contador = @contador+1 %>
			<%= question.description  =%> 
			<%= link_to 'Edit', edit_question_path(question, :quizzid => @quizz.id) %>	
		</p>
	<% end %>
</p>

<div>
  <td><%= link_to 'New question', new_question_path(:quizzid => @quizz.id) %></td>
</div>

<%= link_to 'Edit', edit_quizz_path(@quizz) %> |
<%= link_to 'Back', quizzs_path %>
