<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>">QuizzMania</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <% if can? :manage, :all %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= quizzs_path %>">Quizzes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= types_path %>">Types</a>
        </li>
      </ul>
    <% end %>
  </div>
    <% if user_signed_in? %>
      <li>
      <%= current_user.name %>
      <%= link_to('Logout'  , destroy_user_session_path, method: :delete) %>        
      <img src=<%= image_url('baseline-directions_run-24px.svg') %>>
      </li>
    <% else %>
      <li>
      <img src=<%= image_url('baseline-directions_walk-24px.svg') %>>  
      <%= link_to('Login', new_user_session_path) %>
      </li>
    <% end %>      
  </ul>
</nav>
